.formsContainer {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 40px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #323232;
    margin-top: 20px;
    padding: 30px;
}

.initialMessage>h1 {
    font-weight: 1000;
    font-size: 32px;
    line-height: 39px;
    margin-right: 100px;
}

.formCommon {
    display: flex;
    flex-direction: column;
    width: 350px;
}

.submitButton {
    width: 145px;
    height: 31px;
    background: #323232;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    border-radius: 0px;
    border: 0px;
    margin-left: 175px;
    margin-top: 8px;
}

.submitButton:hover {
    background: #e0e0e0;
    color: #323232;
    border: #323232 solid 2px;
    transition: linear 0.1s;
}

.userProfileContainer {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
    background: rgba(210, 93, 120, 0.5);
    padding: 10px;
    backdrop-filter: blur(1px);
    border-radius: 15px;
    width: 400px;
    box-shadow: 0px 0px 7px 4px rgba(210, 93, 120, 0.47);
}


@media (min-width:768px) {

    .formsContainer {
        display: flex;
        justify-content: start;
        gap: 30px;
    }

    /* .formCommon {
        margin: 20px;
        display: inline-grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: 20% 20% 20% 20% 20%;
    } */

    .formCommon>p {
        display: none
    }

}

@media (min-width:1024px) {
    .formsContainer {
        background-image: url("../assets/img/spydermanBG.png");
        background-repeat: no-repeat;
        background-position: center center/cover;
        background-size: 100%;
        background-attachment: fixed;
        height: 100Vh;
        display: flex;
        align-items: flex-start;
        padding-top: 30px;
        padding-left: 50px;
        color: #ffffff;
        font-weight: 500;
        gap: 50px;
    }

    .initialMessage>h1 {
        font-weight: 1000;
        font-size: 20px;
        line-height: 39px;
        margin-right: 100px;
    }

    /* .formCommon {
        grid-template-columns: 50% 50%;
        grid-template-rows: 16% 16% 16% 16% 16% 16% 16% 16% 16%;
    } */

    .submitButton {
        background: rgb(50, 88, 86);
        margin-left: 225px;
        /* margin-top: 20%; */
    }

}